# Игнорирование всех файлов временных данных
*.log
*.tmp
*.swp

# Игнорирование локальных настроек среды разработки
.vscode/
.idea/
node_modules/

# Игнорирование скомпилированных файлов и выходных директорий
.parcel-cache
dist/
build/

# Игнорирование конфигурационных файлов
.env